button{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin: 10px;

}

#green{
    background-color: green;
}
#red{
    background-color: red;
}
#gray{
    background-color: gray;
}
#green{
    background-color: green;
}